.card {
  min-width: 200px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  margin: 15px 20px 15px 5px;
  //background-color: #c7e4ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  padding: 5px 15px 10px;
  font-size: 1.2em;
  height: 20%;
  font-weight: bold;
}

.card-description {
  padding: 10px 15px 0;
  background-color: white;
  height: 70%;
}

.footer {
  padding: 10px 15px 10px;
}

.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.limit1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
