.login-container {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;

  margin-top: 10%;
  img {
    margin-bottom: 30px;
  }
}

.input-container {
  margin: 20px 10px;
  line-height: 200%;
}

.no-account {
  margin-left: 20px;
  margin-right: 20px;
  a {
    font-weight: bold;
    color: blue;
    text-decoration: none;
  }
}
@media (min-width: 1024px) {
  .logoImageBodyLogin {
    margin-left: -130px;
    margin-right: 50px;
    max-width: 450px;
    max-height: 390px;
  }
}
