.login-container {
  text-align: center;

  height: 100%;
  margin-top: 10%;
  margin-left: 30px;
  margin-right: 30px;
  img {
    margin-bottom: 30px;
  }
}

.input-container {
  margin: 20px 0;
  line-height: 200%;
}

.no-account {
  margin-left: 20px;
  margin-right: 20px;
  a {
    font-weight: bold;
    color: blue;
    text-decoration: none;
  }
}
