.project_dateCreator {
  display: flex;
  justify-content: space-between;
}

.project_information {
  text-align: center;
  line-height: 260%;
}

.anchor_style {
  text-align: right;
  margin-right: 5%;
  color: blue;
  font-size: 12px;
}
