.project_dateCreator {
  display: flex;
  justify-content: space-between;
}

.project_information {
  text-align: center;
  line-height: 260%;
}

.anchor_style {
  text-align: right;
  margin-right: 5%;
  color: blue;
  font-size: 12px;
}

.limitLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.lineHe {
  line-height: 1.5em;
  text-align: justify;
}

.projectCardLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

.projectCardInformation {
  text-align: center;
  line-height: 260%;
  height: 180px;
}

.projectCardHome {
  margin: 10px;
  min-width: 23em;
  max-width: 23em;
}

.projectDescriptionHome {
  height: 50%;
}
