.search-bar {
  flex-direction: row;
  flex: 1;
  input,
  button {
    border: 0;
    border-radius: 5px;
    padding-right: 3px;
    padding: 8px;
    margin: 0;
    background-color: white;
  }
  input {
    flex: 1;
    // min-width: ;
  }
}
