.register-container {
  text-align: center;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 10%;
  max-width: 50%;

  img {
    margin-bottom: 30px;
  }
}

.input-container {
  font-size: 17px;

  margin: 15px 10px;
  line-height: 100%;
  input {
    font-size: 17px;
    text-align: center;
  }

  button {
    font-size: 17px;
    padding: 2px 20px;
  }
}

.smaller-container {
  margin: 40px 0;
  line-height: 100%;
}

@media (min-width: 1024px) {
  .logoImageBodyRegister {
    margin-left: -130px;
    margin-right: 50px;
    max-width: 450px;
    max-height: 390px;
  }
}
